[Unit]
Description=O2L Launcher
After=network-online.target

[Service]
ExecStart=/root/Bela/projects/O2L/O2L
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/root/Bela/projects/O2L/
Environment=HOME=/root
KillMode=process

[Install]
WantedBy=default.target
